.nvidia{
    width: 254px;
    height: 48px;
}

.fotografica{
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    
}

@media (max-width: 1000px){
    .content{
        margin-top: 30%;
    }
}
