*{
    padding:0px;
    margin: 0px;
}

.general{
    border: 1px solid black;
    width: 1100px;
    margin: 30px auto;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: 1px solid black;
    background-color: #d6cf66;
    padding: 20px;
}

.menu{
    background-color: #ccc;
    padding: 15px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;
    font:bold 14px verdana;
    display: inline-block;   
}

a{
    color: black;
    text-decoration: none;
}

.ayuda{
    text-decoration: underline;
}

h2{
    margin: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;

}

p{
    margin: 10px;
}

section{
    border: 1px solid black;
    width: 60%;
    float: left;
    margin: 20px;
    background-color: #ccc;
}

.columna{
    float: left;
    
    width: 30%;
    text-align: center;
    margin:20px;
    margin-left: 20px;
}

.columna blockquote{
    border: 1px solid black;
    padding: 35px;
    margin-bottom: 35px;
    background-color: #ccc;
}

.pie{
    clear: both;
    padding: 20px;
    background-color: dimgrey;
    text-align: center;
    color: ghostwhite;
}

